{{>header}}
{{>navigation}}
<!--<body style="background-color:#212529;">-->
</body>
<form action="/add-book" method="post">
    <input type="text" name="title" placeholder="Title">
    <br>
    <input type="date" name="publish_date" placeholder="Publish date">
    <br>
    <input type="number" name="quantity" placeholder="Quantity">

<!--    <br>-->
<!--    <input type="text" name="image" placeholder="image">-->
    <br>
    <input type="number" name="type" placeholder="Type">
    <button type="submit">Add</button>
</form>

</body>
</html>